.footer {
  min-height: 100px;
}
.footer_row {
  justify-content: space-between;
  align-items: center;
}
.footer__column__footer__text {
  color: #000;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
}
.footer__column span {
  color: #9f00ff;
}